<div>

   {% set current_user = session.get("current_user")  %}
    

   {% if current_user %}
        <span>Hello  {{current_user["first_name"]}}  {{current_user["last_name"]}}</span>
        <span>|</span>
        <a href="{{url_for('auth_view.logout')}}">Logout</a>
   {% else %}
     <span>Hello guest</span>
     <span>|</span>
     <a href="{{url_for('auth_view.login')}}">Login</a>
     <span>|</span>
     <a href="{{url_for('auth_view.register')}}">Register</a>
   {% endif  %}

</div>