{% extends "layout.html" %}

{% block title %}
add product
{% endblock title %}


{% block content %}
<h2>Add Product</h2>

<form method="post" class="fancy_form"  enctype="multipart/form-data">
    <label>Name:</label>
    <input type="text" name="name" class="form-control">
    <br>
    <label>Price:</label>
    <input type="number" name="price" step="0.01" class="form-control"> 
    <br>
    <label>Stock:</label>
    <input type="number" name="stock" class="form-control">
    <br>
    <input type="file" name="image" accept="image/*"  class="form-control">

    <button class="btn btn-primary w-100">Add</button>
</form>
{% endblock content %}